:root {
    --basecolor: #4CC8C8;
    --card: linear-gradient(to right, #B3BFBF , #dceaea);
    --font: "Arial";
    --textcolor: #212626;
    --nav: #e3ebeb;
    --border: #8A9494;
}
html{
    scroll-behavior: smooth;
  }
body {
    background-color: #2B3232;
}

.intro {
    background-image: linear-gradient(to right, #475e5e , #dceaea);
    margin: -10px;
    padding: 60px 0px 200px 20px;
    font-family: var(--font);
    font-size: 36px;
    color: var(--textcolor);
}
.intro > img {
    float: right;
    margin-right: 10px;
    border: 1px solid;
    border-radius: 45%;
    border-color: var(--border);
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.navbar {
    background-color: var(--nav);
    margin: -10px;
    padding: 10px;
    text-align: right;
    border-top: 2px solid blanchedalmond;
}
.navbar > a {
    border-radius: 5%;
    list-style-type: none;
    display: inline;
    text-align: right;
    margin: 5px;
    padding: 10px;
    font-family: var(--font);
    text-decoration: none;
    color: var(--textcolor);
    background-color: var(--nav);
    ;
}
.aboutme {
    margin-top: 20px;
    background-image: var(--card);
    border: 1px solid;
    border-radius: 5%;
    padding-left: 10px;
    font-family: var(--font);
}
.sec1 {
    background-image: var(--card);
    border: 1px solid;
    border-radius: 5%;
    border-color: var(--border);
    margin-top:20px;
    padding-left: 10px;
    font-family: var(--font);
    text-align: center;
}

.ex1 {
    border-radius: 10%;
    display: block;
    margin: 0 auto;
    width: 1200px;
    height: 200px; 
    object-fit: cover;
    object-position: top;
}
.ex1:hover {
    height: 400px;
    transition: 1.5s;
}
#sec2 {
    display: flex;
    flex-wrap: wrap;
    font-family: var(--font);
}
.otherworkcard {
    background-image: var(--card);
    border: 1px solid;
    border-radius: 5%;
    margin: 20px 10px 0 10px;
    padding-left: 10px;
    flex: 1 0 200px;
    color: var(--textcolor);
    text-align: center;
}
.otherex {
    border-radius: 10%;
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 100px; 
    object-fit: cover;
    object-position: top;
}
.otherex:hover {
    height: 200px;
    transition: 1.5s;
}

.box {
    background-color:white;
    padding: 5px;
}
.box:hover {
    background-color: orange;
}

footer {
    margin-bottom: -15px;
}
#contact {
    background-image: var(--card);
    margin-top: 20px;
    color: var(--textcolor);
}
#contact > h3 {
    font-family: var(--font);
    padding: 10px 10px 5px 10px;
}
#contact > ul > li {
    list-style-type: none;
    padding-bottom: 10px;
    font-family: var(--font);
}
#email::before {
    content: "📧";
}
#phone::before {
    content:"📞";
}

@media screen and (max-width: 768px) {
    .sec2 {
        flex-direction: column;
    }
    .navbar {
        position: fixed;
        bottom: 0;
        justify-content: space-around;
    }
    .intro {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
    }
    .intro > img {
        padding-top: 10px;
    }
    .ex1 {
        border-radius: 10%;
        display: block;
        margin: 0 auto;
        width:600px;
        height: 100px; 
        object-fit: cover;
        object-position: top;
    }
    .ex1:hover {
        height: 200px;
        transition: 1.5s;
    }
}

@media screen and (max-width: 600px) {
    .sec2 {
        flex-direction: column;
    }
    .navbar {
        background-color: white;
        position: fixed;
        justify-content: space-around;
        bottom:0;
    }
    .intro {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
        font-size: 25px;
    }
    .intro > img {
        padding-top: 10px;
    }
    .ex1 {
        border-radius: 10%;
        display: block;
        margin: 0 auto;
        width:400px;
        height: 100px; 
        object-fit: cover;
        object-position: top;
    }
    .ex1:hover {
        height: 200px;
        transition: 1.5s;
    }
}